.vscode
.DS_Store
manifest-dev.yml
manifest-prod-ussouth.yml
manifest-prod-eude.yml
manifest-prod-eugb.yml
manifest-prod-ausyd.yml
ops/login.sh
ops/deploy.sh
ops/rollback.sh
ops/*.sql
ops/us-routes.sh
ops/de-routes.sh
ops/au-routes.sh
ops/scaling-*.json
ops/ibmcloud-login.md


# Virtual environment
mlforkids-numbers/env/

# Compiled Python files
mlforkids-numbers/__pycache__/
*.pyc
*.pyo
*.pyd


**/note.md
**/.idea
logs/*
**/.env