# DEPLOYMENT
# HOST
# AUTH0_CONNECTION dll AUTH0
# SMTP_USER dll
# SLACK_WEBHOOK_URL
# OBJECT_STORE_BUCKET dll
# CF_INSTANCE_INDEX
# SPOTIFY_CLIENT_ID dll
# MAINTENANCE_MODE
# SITE_HOST_URL
# SERVERLESS_OPENWHISK_URL dll
# TRAVIS
# MAINTENANCE_MODE


NUMBERS_SERVICE=http://localhost:8000
NUMBERS_SERVICE_USER=numbers-service-username
NUMBERS_SERVICE_PASS=numbers-service-password
PORT=3000
POSTGRESQLUSER=developer
POSTGRESQLPASSWORD=123
POSTGRESQLDATABASE=olx
POSTGRESQLHOST=localhost
POSTGRESQLPORT=5432
DEPLOYMENT=travis
